/* CSS Document - background:#ddddaa; */
.colonne3{
	width:284px;
	float:left;
	margin:20px 0 0 0;
}
.colonne4{
	width:374px;
	float:right;
	margin:30px 0 0 0;
}
.cadre_actu{
	position:relative;
	clear:both;
	margin-bottom:30px;
}

.cadre_evt{
	background-color:#e8e8e8;
	width:320px;
	padding:10px 2px 10px 10px;
	margin-right:8px;
	margin-bottom:8px;
	margin-left:0;	
	margin-top:0;
	
	float:left;
}
.cadre_evt2{
	background-color:#e8e8e8;
	width:320px;
	padding:10px 0px 10px 10px;
	margin-right:0;
	margin-bottom:8px;
	margin-left:0;	
	margin-top:0;
	
	float:left;
}
#niveau2_wrap_h{
	background: transparent url(design_pics/bg_niveau2.jpg) repeat-x left top;
	margin:0 auto;
	clear:both;
}
.titre_home{
	font-family:Georgia, Arial, Times, serif;
	font-size:1.4em;
	color:#8F0033;
	text-transform:uppercase;
	font-weight:bold;
}
h2.titre_cadre{
	clear:both;
	font-family:Georgia, Arial, Times, serif;
	font-size:1.8em;
	font-weight:bold;
	height:24px;
	text-transform:uppercase;
	letter-spacing:0.2em;
	color:#9A0133;
	margin-bottom:5px;
/*	margin-top:-22px;
	position:relative;*/
	padding:3px 0 0 32px;
	z-index:9;
}
#titre_focus { background:url(../squelettes/assets/icone_focus.gif) no-repeat left top; }
#titre_critique { background:url(../squelettes/assets/icone_critique.gif) no-repeat left top; }
#titre_chronique { background:url(../squelettes/assets/icone_chronique.gif) no-repeat left top; }
#titre_video { background:url(../squelettes/assets/icone_video.gif) no-repeat left top; }
#titre_coeur { background:url(../squelettes/assets/icone_coeur.gif) no-repeat left top; }
#titre_interview { background:url(../squelettes/assets/icone_interview.gif) no-repeat left top; }
#titre_activite { background:url(../squelettes/assets/icone_activite.gif) no-repeat left top; }
#titre_avis { background:url(../squelettes/assets/icone_avis.gif) no-repeat left top; }
#titre_concours { background:url(../squelettes/assets/icone_concours.gif) no-repeat left top; }

h3.titre_actu{
	font-size: 1.3em;
	font-weight:bold;
	color: #8F0133;
	text-transform: none;
	line-height:1.4em;
	margin:0;
	padding:0;
}
h3.titre_actu a:link,h3.titre_actu a:visited{
	color: #8F0133;
	text-decoration:none;
}
h3.titre_actu a:hover{
	text-decoration:underline;
}

.titre_conc {
	color: #FFFFFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
}

.descriptif_actu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-top:5px;
	line-height:15px;
}

.date_cloture {
	font-size: 12px;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}

.liste_lots li {
	font-size: 12px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.actu_photo {
	float:left;
	margin:0px 5px 0px 0px;
	text-align: left;
/*	width:91px; height:131px; */
	border: 1px solid #000000;
	background-color: #FFFFFF;
	padding: 1px;
}
.actu_photo img:a {
	border: 1px solid #000000;
	padding: 1px;
}

.bloc_texte {
	margin:0;
	text-align: left;
	width:250px;
}

.grande_image_conc {
	float:right;
	margin:0px 20px 10px 15px;
	text-align: right;
}
.titre_form {
	color: #FFFFFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.vignette_actu{
	border: solid 1px #000000;
	background-color: #FFFFFF;
	padding: 1px;
}
.texte2_actu{
	float:right;
	width:180px;
	text-align:justify;
}
.texte_actu{
	float:right;
	width:210px;
	text-align:justify;
}
.actu_lieu a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	color: #009A99;
	padding-right: 5px;
	font-weight: bold;
}

#sepa_home{
	background:url(design_pics/ligne_rouge.jpg) no-repeat;
	width:669px;
	height:3px;
	margin-top:20px;
	margin-bottom:5px;
}

/* Evénements */
.texte_evt{
	float:right;
	width:206px;
}
.evt_lieu a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	color: #009A99;
	padding-right: 5px;
	font-weight: bold;
}
.evt_date{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-top:5px;
}
/*--- galerie carousel - caroufredsel - voir background images ---*/
.carouselwrapper {
	position:relative;
	width:680px; height:230px;
	margin:0; padding:0;
	border:none;
	z-index:5;
}
.list_carousel {
	margin:0;
	width:680px; height:230px;
	z-index:6;
	overflow:hidden;
}
.list_carousel ul {
	margin:0;
	padding:0;
	list-style:none;
	display:block;
	z-index:7;
}
.list_carousel li {
	position:relative;
	text-align:center;
	background:#ffffff;
	border:none;
	width:161px; height:230px;
	padding:0; margin:0 9px 0 0;
	display:block;
	float:left;
	z-index:8;
}
.caroudescr {
	position:absolute; z-index:9;
	left:0px; bottom:0px;
	width:145px; height:auto; margin:0; padding:12px 8px;
	filter:alpha(opacity=65); opacity:.65;
	background:#000000; color:#ffffff; text-align:left;
}
#carouprev {
	position:absolute; top:90px; left:-10px;
	display:block; width:42px; height:43px; margin:0; padding:0;
	cursor:pointer; text-decoration:none;
	background:url(../squelettes/js/caroufredsel/prev-horizontal.png) no-repeat;
	z-index:9;
}
#carounext {
	position:absolute; top:90px; right:-1px;
	display:block; width:42px; height:43px; margin:0; padding:0;
	cursor:pointer; text-decoration:none;
	background:url(../squelettes/js/caroufredsel/next-horizontal.png) no-repeat;
	z-index:9;
}
