/*                                */
/* Feuille de style du calendrier */
/*                                */


.calendar {
	color: #000066;
	letter-spacing: 1px;
}

.calendar a {
	color: #FF6633;
	letter-spacing: 1px;
}

table.calendar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
} 

table.calendar th { /* Day jours */
	color: #FFFFFF;
	font-size: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	/*background-color: #D1D1D6;*/
	background: #D1D1D6 url(calendrier/bg_1.jpg);
	height: 18px;
	width: 26px;
}

table.calendar tr {
	background-color: #E5E5E5;
	font-size: 9px;
}

.calendar td {
	font-size: 11px;
	height: 17px;
	text-align: center;
}

.calendar-month {
	font-size: 12px;
	color: #8F0133;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
}
.calendar-month a {
	font-size: 12px;
	color: #AA0033;
}
.calendar-month a:hover {
	color: #0000FF;
}

.linked-day {
	color: #33FFFF;
}

.checked {
	color: #FFFFFF;
	font-size: 9px;
	background: #D1D1D6 url(calendrier/bg_1.jpg);
}

.unchecked {
	color: #BBAAAA;
	font-size: 9px;
	background-color: #DDDDDD;
}


.nonchecked {
	color: #CCBBBB;
	font-size: 9px;
	background-color: #EEEEEE;
}

.event_cal {
	color: #000000;
	font-size: 9px;
	/*background-color: #EEBE77;*/
	background-image: url(calendrier/bg_2.jpg);
	font-weight: bold;
}
.event_cal a {
	color: #009A99;
}

td.event_cal:hover {
	color: #FFFFFF;
	background-image: url(calendrier/bg_3.jpg);
}
.non_event_cal {
	color: #AA9999;
	font-size: 9px;
	background-color: #E5E5E5;
}